[defaults]
inventory = ./inventory.yaml
interpreter_python = auto_silent
verbosity = 2

# # first disable 'requiretty' in /etc/sudoers
ANSIBLE_PIPELINING = True
retry_files_enabled = False
deprecation_warnings = False
system_warnings = True
command_warnings = False
error_on_undefined_vars = True
display_args_to_stdout = True
display_skipped_hosts = True
gather_subset = !hardware,!facter,!ohai
log_path = ansible_log.rb

# [ssh_connection]
# ssh_args = -C -o ControlMaster=no -o ControlPersist=60s -o ConnectTimeout=10
# retries = 1
# usetty = True
# sftp_batch_mode = True
# transfer_method = sftp

# [diff]
# always = True